@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #e7dfd4;
}

/* App */
.App {
  display: flex;
  flex-direction: column;
}

/* Error page */
.error-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header */
.header-container {
  padding: 5px 35px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Add box shadow to the bottom */
}

.upper-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  width: 150px;
}

.links {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  text-transform: uppercase;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  color: black;
  position: relative;
  transition: transform 250ms;
  font-size: 24px;
}

.links a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: width 250ms ease;
}

.links a:hover::before {
  width: 100%;
}

.links a:hover {
  transform: translateY(-5px);
}

#shopping-cart-icon {
  cursor: pointer;
  width: 50px;
}

/* Home */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Slideshow */
.image-slider {
  position: relative;
  width: 100%;
  max-height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slider-image {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px;
  cursor: pointer;
}

#prev-slide {
  left: 10px;
}

#next-slide {
  right: 10px;
}
/* Section */
.section-container {
  width: 90%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.male-container-text,
.female-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 48px;
}

.female-container-text {
  align-items: flex-end;
}

.male-container-image,
.female-container-image {
  width: 100%;
}

.male-container-image img,
.female-container-image img {
  width: 100%;
  border-radius: 5px;
}

.see-now-link {
  text-decoration: none;
  color: #a19f9c;
  transition: transform 0.3s ease, ease-in 0.3s color;
}

.see-now-link:hover {
  transform: translateX(5px);
  color: #588b8b;
}

/* Products */
.products-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-container {
  text-transform: uppercase;
  font-size: 24px;
}

.filter-container select {
  margin-top: 15px;
  margin-left: 15px;
  text-transform: uppercase;
  font-size: 24px;
}

.products-container {
  background-color: #e7dfd4;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

/* Product item */
.product-container {
  display: flex;
  flex-direction: column;
}

.product-info {
  background-color: white;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 450px;
  height: 400px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#product-title {
  font-size: 24px;
  text-transform: uppercase;
}

.product-price {
  font-size: 48px;
}

.product-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  max-height: 250px;
}

.product-image img {
  width: 100%;
  height: 100%;
}

#add-to-cart-btn {
  padding: 15px;
  margin: 5px 0;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s;
}

.not-in-cart:hover {
  background-color: #588b8b;
  color: white;
}

.in-cart {
  background-color: #588b8b;
  transition: all 0.2s;
}

.not-in-cart {
  background-color: black;
  transition: all 0.2s;
}

/* Cart */
.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cart-container h1 {
  text-transform: uppercase;
}

.cart-container ul {
  list-style: none;
  width: 80%;
}

/* Cart item */
.cart-item {
  width: 100%;
  margin: 15px 0;
  padding: 25px;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cart-item-image,
.cart-item-title,
.cart-item-quantity,
.cart-item-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.cart-item-title span {
  font-size: 32px;
}

.cart-item-image {
  width: 120px;
}

.cart-item-image img {
  width: 120px;
}

#decrement-btn,
#increment-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  border: none;
  border: 1px solid #a19f9c;
  border-radius: 5px;
  transition: all 0.2s;
  font-size: 16px;
}

#decrement-btn:hover,
#increment-btn:hover {
  border: 1px solid black;
}

#product-quantity {
  margin: 0 5px;
}

.quantity-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.remove-from-cart-button {
  padding: 10px;
  background-color: rgb(116, 9, 9);
  color: white;
  cursor: pointer;
}
