@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #e7dfd4;
}

/* App */
.App {
  display: flex;
  flex-direction: column;
}

/* Error page */
.error-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header */
.header-container {
  padding: 5px 35px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Add box shadow to the bottom */
}

.upper-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  width: 150px;
}

.links {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  text-transform: uppercase;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  color: black;
  position: relative;
  transition: transform 250ms;
  font-size: 24px;
}

.links a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: width 250ms ease;
}

.links a:hover::before {
  width: 100%;
}

.links a:hover {
  transform: translateY(-5px);
}

#shopping-cart-icon {
  cursor: pointer;
  width: 50px;
}

/* Home */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Carousel */
.carousel-container {
  width: 100%;
  background-color: #2f2e2c;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 48px;
}

/* Section */
.section-container {
  width: 90%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.male-container-text,
.female-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 48px;
}

.female-container-text {
  align-items: flex-end;
}

.male-container-image,
.female-container-image {
  width: 100%;
}

.male-container-image img,
.female-container-image img {
  width: 100%;
  border-radius: 5px;
}

.see-now-link {
  text-decoration: none;
  color: #a19f9c;
  transition: transform 0.3s ease, ease-in 0.3s color;
}

.see-now-link:hover {
  transform: translateX(5px);
  color: #588b8b;
}

/* Products */
.products-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-container {
  text-transform: uppercase;
  font-size: 24px;
}

.filter-container select {
  margin-top: 15px;
  margin-left: 15px;
  text-transform: uppercase;
  font-size: 24px;
}

.products-container {
  background-color: #e7dfd4;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

/* Product item */
.product-container {
  background-color: white;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 450px;
  height: 500px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#product-title {
  font-size: 24px;
  text-transform: uppercase;
}

.product-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  max-height: 250px;
}

.product-image img {
  width: 100%;
  height: 100%;
}

#add-to-cart-btn {
  padding: 15px;
  margin: 5px 0;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
}

#add-to-cart-btn:hover {
  background-color: #588b8b;
  color: white;
}

/* Cart */
.cart-container {
  margin: 5px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart-container ul {
  list-style: none;
}

.cart-item {
  width: 650px;
  margin: 15px 0;
  padding: 15px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
}

.cart-item-image {
  width: 120px;
}

.cart-item-image img {
  width: 120px;
}

.cart-item-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.cart-item-title {
  font-size: 32px;
}

.cart-item-quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
